<div
  class="container"
>
  <div
    class="content"
  >
    <div
      class="menu"
    >
      <div
        class="logo"
      >
        <img src="/assets/images/logos/logo_dark.svg" alt="DogeCash">
      </div>

      <div
        class="links"
      >
        <div>{{ messages.PERSONAL }}</div>
        <div>{{ messages.BUSINESS }}</div>
        <div>{{ messages.COMPANY }}</div>
      </div>
    </div>

    <div
      class="buttons"
    >
      <app-button design="outlined" [title]="messages.SIGN_IN"></app-button>
      <app-button [title]="messages.SIGN_UP"></app-button>
    </div>
  </div>
</div>
