<div
  class="container"
>
  <div
    class="content"
  >
    <div
      class="menu"
    >
      <a class="logo" routerLinkActive="active" routerLink="/">
        <img class="logo-image-normal" src="/assets/images/logos/logo_dark.svg" alt="DogeCash">
        <img class="logo-image-minimal" src="/assets/images/logos/dogecash.svg" alt="DogeCash">
      </a>

      <div
        class="links"
      >
        <a class="link" [href]="constants.CLIENTS_APP_URL">{{ messages.PERSONAL }}</a>
        <div class="soon">
          {{ messages.BUSINESS }}
        </div>

        <a class="link" routerLinkActive="active" [routerLink]="constants.ROUTE_COMPANY">{{ messages.COMPANY }}</a>
      </div>
    </div>

    <div
      class="buttons"
    >
      <a [href]="constants.CLIENTS_APP_URL">
        <app-button design="outlined" [title]="messages.SIGN_IN"></app-button>
      </a>
      <a [href]="constants.CLIENTS_APP_URL_SIGN_UP">
        <app-button [title]="messages.SIGN_UP"></app-button>
      </a>
    </div>
  </div>
</div>
