.container {
  width: 100%;
}

.content {
  margin: auto;

  max-width: 1515px;
  width: 100%;

  display: flex;
  align-items: center;
}

.menu {
  flex: 3;

  display: flex;
}

.buttons {
  flex: 1;

  display: flex;
  justify-content: space-between;

  max-width: 200px;
}

.logo {
  flex: 1;

  max-width: 300px;
}

.links {
  flex: 3;

  display: flex;
  justify-content: space-between;

  max-width: 400px;
}
