.container {
  width: 100%;
}

.content {
  margin: auto;

  max-width: 1515px;
  width: 100%;

  display: flex;
  align-items: center;

  min-height: 175px;
}

.menu {
  flex: 3;

  display: flex;
  align-items: center;
}

.buttons {
  flex: 1;

  display: flex;
  justify-content: space-between;

  max-width: 230px;
}

.logo {
  flex: 1;

  max-width: 400px;
}

.links {
  flex: 3;

  display: flex;
  justify-content: space-between;

  max-width: 400px;

  font-size: 20px;
}

.soon {
  position: relative;
}

.soon:after {
  content: 'soon';
  position: absolute;
  top: 0;
  right: -35px;
  font-size: 11px;
  text-transform: uppercase;
  color: #A09DAE;
}

.link {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.link:hover {
  opacity: 0.85;
}

.logo-image-minimal {
  display: none;
}

@media screen and (max-width: 1510px) {
  .content {
    padding: 0 15px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 1115px) {
  .logo {
    max-width: 250px;
  }
}

@media  screen and (max-width: 975px) {
  .links {
    display: none;
  }

  .content {
    justify-content: space-between;
  }

  .menu {
    flex: 0;
  }
}

@media screen and (min-width: 380px) {
  .logo-image-normal {
    display: none;
  }

  .logo-image-minimal {
    display: block;
  }
}

@media screen and (min-width: 515px) {
  .logo-image-minimal {
    display: none;
  }

  .logo-image-normal {
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .buttons {
    display: none ;
  }

  .content {
    justify-content: center;
  }
}
