.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 200px;

  padding: 70px 0;
  margin-top: 200px;
  margin-bottom: 100px;

  padding: 0 15px;
  box-sizing: border-box;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1350px;
  width: 100%;
}

.links {
  font-size: 20px;
  font-weight: 600;

  flex: 1;

  max-width: 450px;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 24px;
  font-weight: 300;
  color: #D0CBE6;
  text-align: center;
}

@media screen and (max-width: 680px) {
  .section-top {
    flex-direction: column;
  }

  .links {
    margin: 50px 0 90px 0;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .links {
    flex-direction: column;
    align-items: center;
  }

  .link {
    margin: 15px 0;
  }
}
