.container {
  margin-top: 155px;
  background-color: rgb(255, 182, 119, 0.1);
  min-height: 1250px;

  padding: 200px 15px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title:after {
  content: 'soon';
  position: absolute;
  top: 0;
  right: -55px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #D0CBE6;
}

.content {
  max-width: 1350px;
  min-height: 925px;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.number {
  border-radius: 100%;
  border: solid 1px #FFB677;
  height: 40px;
  width: 40px;
  min-width: 40px;

  font-size: 30px;
  font-weight: 300;
  color: #D0CBE6;

  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
}

.number-line {
  color: #D0CBE6;
  font-weight: 300;
  font-size: 26px;
  margin-left: 20px;
}

.number-block {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.title {
  font-size: 60px;
  font-weight: 600;

  margin-bottom: 50px;
  position: relative;
  display: inline-block;
}

.description {
  font-size: 30px;
  color: #D0CBE6;
  font-weight: 300;
  max-width: 635px;
  line-height: 2;
  margin-bottom: 40px;
}

.container-description {
  margin-top: 80px;
}

li {
  line-height: 1.75;
  font-size: 20px;
  color: #D0CBE6;
  font-weight: 300;
  margin-top: 20px;
}

ul {
  margin: 30px 0 0 0;
}

.image {
  max-width: 731px;
}

@media screen and (max-width: 1280px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .description {
    max-width: none;
  }

  .image {
    margin: 100px auto 0 auto;
    object-fit: contain;
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .number-line {
    margin: 50px 0 0 0;
    text-align: center;
  }

  .number-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 100px;
  }

  .number {
    align-self: center;
  }
}

@media screen and (max-width: 454px) {
  .title:after {
    display: none;
  }

  .title {
    font-size: 35px;
  }

  .description {
    font-size: 24px;
  }

  .number-line {
    font-size: 24px;
  }

  .number {
    font-size: 24px;
  }
}
