<div class="container">
  <div class="content">
    <div>
      <div class="title">Smart saving</div>
      <div class="description">Did you know Buying $50 worth of Bitcoin every week for 3 years you would have turned <strong>$7,850 into $21,958 (+179%)</strong>?</div>
      <div class="description">Apply that concept into everything and reach all your financial goals!</div>

      <div class="container-description">
        <div class="number-block">
          <div class="number">1</div>
          <div class="number-line">Create a saving vault with your goal</div>
        </div>

        <div class="number-block">
          <div class="number">2</div>
          <div class="number-line">Select the base currency for the vault. (BTC or USD)</div>
        </div>

        <div class="number-block">
          <div class="number">3</div>
          <div class="number-line">
            <div>Deposit. Manually, or <strong>smartly</strong>:</div>
            <ul>
              <li>Automatically round every transfer you make, and send the difference to your vault.</li>
              <li>Automatically convert your profit from stakable/masternodeable assets and deposit it to your vault.</li>
            </ul>
          </div>
        </div>

        <div class="number-block">
          <div class="number">4</div>
          <div class="number-line"><i>(Optional)</i> Enable interest and get up to 8% APY for your vault deposits.</div>
        </div>
      </div>
    </div>
    <img class="image" src="/assets/images/smart_saving.svg" alt="Smart saving">
  </div>
</div>
