.container {
  margin-top: 155px;
  background-color: rgb(255, 182, 119, 0.1);
  min-height: 1250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  max-width: 1510px;
  min-height: 925px;
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.number {
  border-radius: 100%;
  border: solid 1px #FFB677;
  height: 40px;
  width: 40px;

  font-size: 30px;
  font-weight: 300;
  color: #D0CBE6;

  display: flex;
  justify-content: center;
  align-items: center;
}

.number-line {
  color: #D0CBE6;
  font-weight: 300;
  font-size: 26px;
  margin-left: 20px;
}

.number-block {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.title {
  font-size: 60px;
  font-weight: 600;

  margin-bottom: 50px;
}

.description {
  font-size: 30px;
  color: #D0CBE6;
  font-weight: 300;
  max-width: 635px;
  line-height: 2;
  margin-bottom: 40px;
}
