<div class="container">
  <div class="content">
    <div>
      <div class="title">Smart saving</div>
      <div class="description">Did you know Buying $50 worth of Bitcoin every week for 3 years you would have turned $7,850 into $21,958 (+179%)?</div>
      <div class="description">Apply that concept into everything and reach all your financial goals!</div>

      <div>
        <div class="number-block">
          <div class="number">1</div>
          <div class="number-line">Create a saving vault with your goal</div>
        </div>

        <div class="number-block">
          <div class="number">2</div>
          <div class="number-line">Select the base currency for the vault. (BTC or USD)</div>
        </div>

        <div class="number-block">
          <div class="number">3</div>
          <div class="number-line">Deposit. Manually, or smartly:</div>
        </div>

        <div class="number-block">
          <div class="number">4</div>
          <div class="number-line">(Optional) Enable interest and get up to 8% APY for your vault deposits.</div>
        </div>
      </div>
    </div>
    <img src="/assets/images/smart_saving.png" alt="Smart saving">
  </div>
</div>
