<div class="container">
  <app-header></app-header>
  <div class="section-container">
    <div class="title">Terms & Conditions</div>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in dui ut elit aliquam ultricies. Aliquam hendrerit lectus quis est tincidunt suscipit. Maecenas vehicula venenatis tincidunt. Proin blandit, libero in eleifend auctor, mauris nibh malesuada diam, sed fringilla leo ipsum in ligula. Proin tempus libero vel enim mattis, vel sodales tellus semper. Mauris id massa viverra, porta ipsum in, molestie nisi. Integer eu justo gravida, ultricies massa et, blandit eros. In lobortis sapien non quam porta, nec elementum sem tempor.
      </p>
      <p>
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse malesuada, diam sit amet suscipit pharetra, tortor dui egestas diam, nec rutrum purus nulla quis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam erat volutpat. Aenean tincidunt ante id lacus laoreet, semper eleifend felis vestibulum. Ut ultrices posuere ullamcorper. Maecenas mattis fringilla dolor a luctus. Proin venenatis pharetra magna vitae aliquam. Sed vehicula condimentum nisl vitae rutrum. In in eleifend turpis. Vivamus sed leo velit. Morbi hendrerit aliquet odio, sit amet tincidunt nisi rutrum quis. In vulputate eu est et vulputate. Maecenas lacus elit, faucibus at lorem sed, gravida commodo orci. Mauris vitae pulvinar leo, eu porta ante. In non nulla at dui feugiat malesuada id in massa.
      </p>
      <p>
        Cras at lorem iaculis, porttitor enim a, vulputate justo. Integer sit amet nisi enim. Quisque auctor leo dui, eget consectetur nibh feugiat quis. Nulla tristique sapien sed dui volutpat, a malesuada justo fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec vestibulum fringilla neque, nec tristique lorem egestas a. Integer non luctus ex. Cras faucibus lacus in porttitor venenatis. Donec interdum justo lacus, sit amet rhoncus ex mattis non. Morbi nec volutpat urna. Nullam consectetur malesuada sapien non pulvinar. Donec gravida tristique risus eu venenatis. Suspendisse molestie turpis augue, non lacinia nulla viverra nec. Proin sapien purus, semper quis rutrum sed, interdum quis sapien.
      </p>
      <p>
        In sit amet turpis aliquam sem feugiat tincidunt. Aliquam lacus ligula, dictum id risus at, condimentum vehicula elit. Morbi luctus malesuada aliquet. Maecenas laoreet turpis ligula, vitae viverra magna ultrices sit amet. In consequat purus ut egestas pulvinar. Proin at purus felis. Nullam id lobortis nibh.
      </p>
      <p>
        Aliquam nec hendrerit sem, ut tristique erat. Maecenas a tempor est, eu sagittis nisl. Fusce vehicula urna dolor, nec eleifend purus porttitor et. Nam tempus molestie neque ut fermentum. Mauris vitae arcu aliquam, malesuada ante sit amet, feugiat justo. Suspendisse faucibus ullamcorper ultrices. Vestibulum sem magna, egestas vel lacinia at, volutpat a elit. Fusce eleifend sapien id mi condimentum dignissim aliquam at lectus. Vestibulum sollicitudin pellentesque ante non maximus. Integer facilisis suscipit metus, vel tincidunt mi viverra eget. Duis at nibh laoreet, hendrerit ex nec, vestibulum elit. Praesent posuere a enim id malesuada. Ut tincidunt, orci ac vulputate semper, magna arcu porttitor lectus, eget porta nisl ante ac neque. Suspendisse nec turpis eget diam maximus finibus. Suspendisse ac rhoncus erat. Curabitur nec pellentesque purus.
      </p>
    </div>
  </div>
  <app-footer></app-footer>
</div>
