<div class="container">
  <div class="content">
    <div class="title">{{ messages.CONVENIENT }}</div>

    <app-group-feature-action
      [title]="messages.FREE_DEPOSITS"
      [description]="messages.ASSETS_WITHOUT_COSTS"
      srcImage="/assets/images/free_deposits.png"
      position="normal"
      bg="contrast"
    ></app-group-feature-action>

    <app-group-feature-action
      [title]="messages.CHEAP_AND_FAST"
      [description]="messages.CONVERT_ANY_LISTED"
      srcImage="/assets/images/convert.png"
      position="invert"
      bg="transparent"
    ></app-group-feature-action>

    <app-group-feature-action
      [title]="messages.FREE_WITHDRAWALS"
      [description]="messages.ANY_CRYPTO_FREE"
      srcImage="/assets/images/free_withdrawals.png"
      position="normal"
      bg="contrast"
    ></app-group-feature-action>

    <app-group-feature-action
      [title]="messages.AUTO_STAKE"
      [description]="messages.INCOME_FROM_ALL_ASSETS"
      srcImage="/assets/images/auto_stake.png"
      position="invert"
      bg="transparent"
    >
    </app-group-feature-action>

    <app-group-feature-action
      [title]="messages.FAST_WITHDRAWALS"
      [description]="messages.PAY_ANY_CRYPTO_INVOICE"
      srcImage="/assets/images/withdrawals.png"
      position="normal"
      bg="contrast"
    >
    </app-group-feature-action>

    <app-group-feature-action
      [title]="messages.DO_MN_WITHOUT_NOTICING"
      [description]="messages.AUTO_RECEIVE_MN_PROFIT"
      srcImage="/assets/images/crypto_devices.png"
      position="invert"
      bg="transparent"
    >
    </app-group-feature-action>

    <app-group-feature-action
      [title]="messages.MILITARY_GRADE_SECURITY"
      [description]="messages.ALL_ASSETS_OFFLINE"
      srcImage="/assets/images/planet.png"
      position="normal"
      bg="contrast"
    >
    </app-group-feature-action>
  </div>
</div>
