.container {
  margin-top: 210px;
}

.container-content {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 48px;
  text-align: center;
  font-weight: 600;

  margin-bottom: 25px;
}

.description {
  font-size: 24px;
  font-weight: 300;
  color: #A09DAE;
  text-align: center;
  margin-bottom: 60px;
}

.content {
  max-width: 1510px;
  background-color: #18171DBF;
  border-top: solid 1px #313037;
  flex: 1;
  min-height: 630px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  padding: 0 70px;
}

.app-income-calculator {
  flex: 1;
}
