<div class="container">
  <div
    data-aos="fade"
    data-aos-delay="100"
    class="title"
    data-aos-anchor-placement="center-center"
  >
    Buying with crypto has never been easier
  </div>

  <div class="content">
    <app-group-minimal-info
      srcImage="/assets/images/shine/bags.svg"
      title="Instant purchases"
      description="buying from merchants accepting DogeCash"
    ></app-group-minimal-info>

    <app-group-minimal-info
      srcImage="/assets/images/shine/door.svg"
      title="Smoothly pay subscriptions"
      description="from services accepting DogeCash"
    ></app-group-minimal-info>

    <app-group-minimal-info
      srcImage="/assets/images/shine/phones.svg"
      title="Easily pay any merchant"
      description="accepting crypto for free, directly from your account."
    ></app-group-minimal-info>

    <app-group-minimal-info
      srcImage="/assets/images/shine/gifts.svg"
      title="Instantly buy giftcards"
      description="for more than 3500 brands in 186 countries."
    ></app-group-minimal-info>
  </div>

  <div class="buttons">
    <a [href]="constants.CLIENTS_APP_URL">
      <app-button
        design="filled"
        [title]="messages.START_NOW"
      ></app-button>
    </a>

    <a [href]="constants.CLIENTS_APP_URL_SIGN_UP">
      <app-button
        design="outlined"
        [title]="messages.LEARN_MORE"
      ></app-button>
    </a>
  </div>
</div>
