.title {
  font-size: 57px;
  font-weight: 600;
  text-align: center;;
}

.container {
  padding: 135px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  padding: 0 15px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  display: flex;
  max-width: 1510px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.buttons {
  margin-top: 100px;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
