<div class="container">
  <div class="title">Buying with crypto has never been easier</div>

  <div class="content">
    <app-group-minimal-info
      srcImage="/assets/images/shine/bags.png"
      title="Instant purchases"
      description="buying from merchants accepting DogeCash"
    ></app-group-minimal-info>

    <app-group-minimal-info
      srcImage="/assets/images/shine/door.png"
      title="Smoothly pay subscriptions"
      description="from services accepting DogeCash"
    ></app-group-minimal-info>

    <app-group-minimal-info
      srcImage="/assets/images/shine/phones.png"
      title="Easily pay any merchant"
      description="accepting crypto for free, directly from your account."
    ></app-group-minimal-info>

    <app-group-minimal-info
      srcImage="/assets/images/shine/gifts.png"
      title="Instantly buy giftcards"
      description="for more than 3500 brands in 186 countries."
    ></app-group-minimal-info>
  </div>

  <div class="buttons">
    <a [href]="constants.CLIENTS_APP_URL">
      <app-button
        design="filled"
        title="Call to action"
      ></app-button>
    </a>

    <a [href]="constants.CLIENTS_APP_URL_SIGN_UP">
      <app-button
        design="outlined"
        title="Learn more"
      ></app-button>
    </a>
  </div>
</div>
