.container {
  max-width: 315px;
}

.container-image {
  min-height: 450px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  min-height: 250px;
  width: 100%;
  border-top: rgba(187, 150, 119, 25%) solid 1px;
  background: transparent linear-gradient(180deg, rgba(146, 143, 161, 4%) 0%, rgba(24, 23, 29, 4%) 100%) 0% 0%;
  box-shadow: 15px 15px 5px #000000;

  padding-top: 50px;
  box-sizing: border-box;

  font-size: 24px;
  font-weight: 300;
  text-align: center;
  line-height: 2;
}

strong {
  color: #BB9677;
  font-weight: 600;
}

.image {
  object-fit: contain;
  max-height: 210px;
  width: 100%;
}
