:root {
  --scroll: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 175px);

  background-image: url('../../assets/images/hero.png');
  background-size: calc(100% + var(--scroll));
  background-repeat: no-repeat;
  background-position: center;

  padding: 0 15px;
  box-sizing: border-box;

  transition: background-size ease;
}

.brand-title {
  font-size: 65px;
  text-align: center;

  font-weight: 600;
}

.brand-description {
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  color: #A09DAE;

  margin-top: 20px;
}

.buttons {
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

@media screen and (max-width: 350px) {
  .buttons {
    min-width: 0;
    flex-direction: column;
    min-height: 140px;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 450px) {
  .brand-title {
    font-size: 35px;
  }

  .brand-description {
    font-size: 24px;
  }
}

@media screen and (max-width: 1600px) {
  .container {
    background-size: calc(110% + var(--scroll));
  }
}

@media screen and (max-width: 1450px) {
  .container {
    background-size: calc(120% + var(--scroll));
  }
}

@media screen and (max-width: 1350px) {
  .container {
    background-size: calc(125% + var(--scroll));
  }
}

@media screen and (max-width: 1300px) {
  .container {
    background-size: calc(135% + var(--scroll));
  }
}

@media screen and (max-width: 1200px) {
  .container {
    background-image: none;
  }
}
