.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 750px;

  background-image: url('../../assets/images/hero.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  padding: 0 15px;
  box-sizing: border-box;
}

.brand-title {
  font-size: 65px;
  text-align: center;

  font-weight: 600;
}

.brand-description {
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  color: #A09DAE;

  margin-top: 20px;
}

.buttons {
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  min-width: 300px;
}

@media screen and (max-width: 1280px) {
  .container {
    background-image: none;
  }
}
