.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 750px;
}

.brand-title {
  font-size: 65px;
  text-align: center;

  font-weight: 600;
}

.brand-description {
  font-weight: 300;
  font-size: 32px;
  text-align: center;
  color: #A09DAE;

  margin-top: 20px;
}

.buttons {
  margin-top: 100px;

  display: flex;
  justify-content: space-between;
  min-width: 300px;
}
