.container {
  max-width: 500px;
  width: 100%;
}

.label {
  font-size: 20px;
  color: #C49771;
  font-weight: 600;
  margin-bottom: 15px;
}

.selector {
  min-height: 70px;
  background-color: #0E0E12;
  border: solid 1px #27262C;
  font-size: 24px;
  text-transform: uppercase;
  color: white;

  padding-left: 23px;
  display: flex;
  align-items: center;

  margin-bottom: 35px;
}

.results {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-bottom: 35px;
}

.result-type {
  font-size: 20px;
  font-weight: 300;
  color: #A09DAE;
}

.result-value {
  font-size: 24px;
  font-weight: 600;
   color: #FFB677;
}

.result-origin {
  font-size: 20px;
  font-weight: 600;
  color: #D0CBE6;
}
