<div class="container">
  <div class="label">
    {{ messages.ASSETS }}
  </div>

  <div class="selector">DOGEC</div>

  <div class="label">
    Amount (USD)
  </div>

  <div class="selector">600</div>

  <div class="results">
    <div class="result">
      <div class="result-type">APY</div>
      <div class="result-value">20%</div>
    </div>

    <div class="result">
      <div class="result-type">Approximate return</div>
      <div class="result-value">$120</div>
    </div>

    <div class="result">
      <div class="result-type">Origin</div>
      <div class="result-origin">Staking/Masternoding</div>
    </div>
  </div>
</div>
