<div class="container">
  <div
    data-aos="fade"
    data-aos-easing="linear"
    data-aos-offset="300"
    class="title"
  >FAQ</div>
  <div class="content">
    <app-faq-item
      bg="primary"
      question="When did DogeCash start?"
      answer="DogeCash has been an existent cryptocurrency project since 2018. You can read all our history here."
    ></app-faq-item>

    <app-faq-item
      question="Are withdrawals truly free?"
      answer="Yes! Without conditions for 99% coins. However, for Bitcoin we only support slow free withdrawals. You’re able to pay to get it verified faster."
    ></app-faq-item>

    <app-faq-item
      question="Where does passive income come from?"
      answer="From staking and masternoding mostly. If you’re not familiar with these concepts you can read more about it."
    ></app-faq-item>

    <app-faq-item
      question="Is KYC required?"
      answer="We’re not involved with fiat currencies, nor we’re based in a European country. So we do not require KYC for most of our users. However, we do have an AML policy we invite you to read."
    ></app-faq-item>

    <app-faq-item
      question="Got more questions?"
      answer="Get in touch with us. We’ll be happy to help you."
    ></app-faq-item>
  </div>
</div>
