.question {
  font-size: 30px;
  color: #BB9677;
  font-weight: 600;
  line-height: 2;
  margin-bottom: 10px;
}

.answer {
  color: #D0CBE6;
  font-weight: 300;
  font-size: 24px;
  line-height: 2;
}

.container {
  padding: 35px;
  box-sizing: border-box;
  min-height: 190px;

  border-top: 1px solid rgba(187, 150, 119, 25%);
}

.bg-primary {
  background: transparent linear-gradient(180deg, rgba(36, 35, 42, 92%) 0%, rgba(24, 23, 29, 92%) 100%) 0% 0% no-repeat padding-box;
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.16);
}

.bg-secondary {
  background: transparent linear-gradient(180deg, rgba(14, 14, 17, 40%) 0%, rgba(32, 31, 38, 40%) 16%, rgba(24, 23, 29, 40%) 100%) 0% 0% no-repeat padding-box;
}
