<div>
  <app-header></app-header>
  <div class="hero section-container">
    <h1 class="title">
      True <strong>crypto believers</strong> driven by adoption
    </h1>
    <p class="description">
      DogeCash is composed by a group of crypto professionals who made their full-time job to build adoption and spread the magic.
    </p>
  </div>

  <div class="world-map section-container">
    <h2 class="subtitle">Our space is virtual, our location: everywhere!</h2>
    <div class="image-container">
      <img class="image" src="/assets/images/world.svg" alt="World">
    </div>
  </div>

  <div class="team-cards section-container">
    <app-team-member-card
      class="team-card"
      srcImage="/assets/images/planet.svg"
      name="Daniel Martín"
      position="Co-founder"
      [tasks]="['Lead developer', 'Management']"
    ></app-team-member-card>

    <app-team-member-card
      class="team-card"
      srcImage="/assets/images/planet.svg"
      name="James Stewart"
      position="Co-founder"
      [tasks]="['Blockchain Specialist']"
    ></app-team-member-card>

    <app-team-member-card
      class="team-card"
      srcImage="/assets/images/planet.svg"
      name="Kestutis Gudynas"
      position="Co-founder"
      [tasks]="['Mentor', 'Advisor']"
    ></app-team-member-card>

    <app-team-member-card
      class="team-card"
      srcImage="/assets/images/planet.svg"
      name="Christopher Díaz"
      position="Developer"
      [tasks]="['Frontend dev', 'Backend dev']"
    ></app-team-member-card>

    <app-team-member-card
      class="team-card"
      srcImage="/assets/images/planet.svg"
      name="Iván Góngora"
      position="Developer"
      [tasks]="['Backend dev']"
    ></app-team-member-card>
  </div>
</div>
