.section-container {
  max-width: 1350px;
  box-sizing: border-box;

  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 175px);

  margin: auto;
}

.title {
  font-size: 63px;
  font-weight: 600;
  color: #E1DDEF;
  text-align: center;

  margin: 0 0 25px 0;
}

.subtitle {
  font-size: 60px;
  font-weight: 600;
  color: #E1DDEF;
  text-align: center;

  margin-bottom: 25px;
}

.description {
  margin: 0;
  font-size: 32px;
  color: #A09DAE;
  font-weight: 300;

  text-align: center;

  max-width: 1093px;
  line-height: 1.5;
}

strong {
  color: #FFB677;
}

.image {
  object-fit: contain;
  width: 100%;

  max-width: 1165px;
}

.world-map {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-container {
  margin: 265px 0 165px 0;
  border-top: #313037 1px solid;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1350px;
  min-height: 923px;
}

.team-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;;
  gap: 50px;
}

.team-card {
  width: 100%;
}

.form-section {
  width: 100%;
  min-height: 1250px;
  background-color: rgba(81, 53, 30, 15%);
  margin-top: 160px;

  padding: 155px 0;
  box-sizing: border-box;
}

.contact-form {
  margin-top: 85px;
}

@media screen and (max-width: 450px) {
  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 30px;
  }

  .description {
    font-size: 24px;
  }
}

@media screen and (max-width: 1350px) {
  .section-container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 850px) {
  .team-cards {
    grid-template-columns: 1fr;
  }
}
