<div>
  <app-header></app-header>
  <div class="hero section-container">
    <h1 class="title">
      True <strong>crypto believers</strong> driven by adoption
    </h1>
    <p class="description">
      DogeCash is composed by a group of crypto professionals who made their full-time job to build adoption and spread the magic.
    </p>
  </div>

  <div class="world-map section-container">
    <h2 class="subtitle">Our space is virtual, our location: everywhere!</h2>
    <img class="image" src="/assets/images/world.svg" alt="World">
  </div>
</div>
