.title {
  font-size: 30px;
  font-weight: 600;
}

.description {
  font-size: 24px;
  color: #A09DAE;
  font-weight: 300;

  margin-top: 20px;
  margin-bottom: 25px;

  line-height: 1.75;
}

.content-normal {
  display: flex;

  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #313037;
  padding: 55px 200px 55px 80px;
}

.content-invert {
  display: flex;

  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #313037;
  padding: 55px 80px 55px 200px;
}

.info {
  max-width: 640px;
}

.bg-transparent {
  background-color: transparent;
}

.bg-contrast {
  background-color: #18171D;
}

.position-normal {
  flex-direction: row;
}

.position-invert {
  flex-direction: row-reverse;
}

.image-normal {
  margin-left: 80px;
}

.image-invert {
  margin-right: 80px;
}

@media screen and (max-width: 1315px) {
  .content-normal {
    padding: 55px 80px 55px 80px;
  }

  .content-invert {
    padding: 55px 80px 55px 80px;
  }
}

@media screen and (max-width: 720px) {
  .position-invert {
    flex-direction: column;
  }

  .position-normal {
    flex-direction: column;
  }

  .content-normal {
    padding: 80px 15px;
  }

  .content-invert {
    padding: 80px 15px;
  }

  .image-normal {
    margin-left: 0;
    margin-top: 100px;
  }

  .image-invert {
    margin-right: 0;
    margin-top: 100px;
  }
}
